Package: com.oskarw.goodbyecoverart
Name: GoodbyeCoverArt
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes the small cover art image on lockscreen
Maintainer: Oskar Wirga <oskar@wirga.com>
Author: Oskar Wirga
Section: Tweaks
